################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/3D-graphics-engine/.vs/3D-graphics-engine/v16/Browse.VC.opendb
